flows.json
[
    {
        "id": "68bf945a96e9124c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b9621d6d26436e3",
        "type": "mqtt in",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-ADMIN-TEMP",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cca5adb0c8f6569",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 420,
        "wires": [
            [
                "b1aa08730ed84519",
                "c4aad28d59ecb789"
            ]
        ]
    },
    {
        "id": "b1aa08730ed84519",
        "type": "ui_chart",
        "z": "68bf945a96e9124c",
        "name": "",
        "group": "f9702690b47b1a73",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "49d85874d0208a02",
        "type": "mqtt out",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-ADMIN-MAIN-ON-OFF",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cca5adb0c8f6569",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "56500c7dea57ca31",
        "type": "ui_switch",
        "z": "68bf945a96e9124c",
        "name": "Schedule Switch",
        "label": "switch",
        "tooltip": "",
        "group": "b5a49eebdd4edf1b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "a9cfad4b554cbc9a"
            ]
        ]
    },
    {
        "id": "a9cfad4b554cbc9a",
        "type": "change",
        "z": "68bf945a96e9124c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "isScheduled",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "4da94f2e9da9e114"
            ]
        ]
    },
    {
        "id": "56902e6cddf288cb",
        "type": "ui_date_picker",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "ON",
        "group": "b5a49eebdd4edf1b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "e87ec88a509ff953"
            ]
        ]
    },
    {
        "id": "d2c9f75b5641e116",
        "type": "ui_text_input",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "b5a49eebdd4edf1b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "fe6f9849d8f0eafa"
            ]
        ]
    },
    {
        "id": "e87ec88a509ff953",
        "type": "change",
        "z": "68bf945a96e9124c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledDate",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "4da94f2e9da9e114"
            ]
        ]
    },
    {
        "id": "fe6f9849d8f0eafa",
        "type": "change",
        "z": "68bf945a96e9124c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "scheduledTime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "4da94f2e9da9e114"
            ]
        ]
    },
    {
        "id": "4da94f2e9da9e114",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 1",
        "func": "let isScheduled = global.get(\"isScheduled\");\nlet scheduledDate = global.get(\"scheduledDate\");\nlet scheduledTime = global.get(\"scheduledTime\");\n\nif (isScheduled && scheduledDate && scheduledTime){\n    let schedule = scheduledDate + scheduledTime;\n\n    if (Date.now()>schedule){\n        return{\n            payload:\"OLDER\"\n        }\n    }\n    else{\n        return{\n            payload:schedule\n        }\n    }\n}\nelse if (isScheduled===false){\n    return{\n        payload:\"NOT-SHEDULED-ON\"\n    }\n}\nelse{\n    return{\n        payload:null\n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "e52ba2df0e9cc8a8"
            ]
        ]
    },
    {
        "id": "e52ba2df0e9cc8a8",
        "type": "switch",
        "z": "68bf945a96e9124c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "NOT-SHEDULED-ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OLDER",
                "vt": "str"
            },
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 960,
        "y": 280,
        "wires": [
            [
                "9477da04d9286ce0"
            ],
            [
                "6abd37e575b96915"
            ],
            [
                "cac0fa7cd4077fe1"
            ],
            [
                "26e566d13b21f540"
            ]
        ]
    },
    {
        "id": "9477da04d9286ce0",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 2",
        "func": "return{\n    payload:\"NOT\",\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 220,
        "wires": [
            [
                "3d09b3b1ab58d93f"
            ]
        ]
    },
    {
        "id": "6abd37e575b96915",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 4",
        "func": "return {\n    payload:\"pls enter future time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "c5085f2d24e67033"
            ]
        ]
    },
    {
        "id": "26e566d13b21f540",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 5",
        "func": "return {\n    payload:\"pls enter valid date and time\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 340,
        "wires": [
            [
                "c5085f2d24e67033"
            ]
        ]
    },
    {
        "id": "c5085f2d24e67033",
        "type": "ui_toast",
        "z": "68bf945a96e9124c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1420,
        "y": 300,
        "wires": []
    },
    {
        "id": "3d09b3b1ab58d93f",
        "type": "mqtt out",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-ADMIN-SCH-ON",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cca5adb0c8f6569",
        "x": 1510,
        "y": 220,
        "wires": []
    },
    {
        "id": "cac0fa7cd4077fe1",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 3",
        "func": "return{\n    payload:Math.round(msg.payload/1000),\n};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 260,
        "wires": [
            [
                "3d09b3b1ab58d93f"
            ]
        ]
    },
    {
        "id": "f88e1ce41efa070b",
        "type": "mqtt in",
        "z": "68bf945a96e9124c",
        "name": "ESP-ON-OFF",
        "topic": "TRICAL-ADMIN-MAIN-ON-OFF-ESP",
        "qos": "2",
        "datatype": "auto",
        "broker": "3cca5adb0c8f6569",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "9fce8bd1bbb04037"
            ]
        ]
    },
    {
        "id": "a7f4b1964d66727d",
        "type": "mqtt in",
        "z": "68bf945a96e9124c",
        "name": "SCH-ESP-ON",
        "topic": "TRICAL-ADMIN-SCH-ESP-ON",
        "qos": "2",
        "datatype": "auto",
        "broker": "3cca5adb0c8f6569",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "be8d3114ab098c73"
            ]
        ]
    },
    {
        "id": "be8d3114ab098c73",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 6",
        "func": "\nreturn {\n    payload:msg.payload===1\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            [
                "56500c7dea57ca31"
            ]
        ]
    },
    {
        "id": "c4aad28d59ecb789",
        "type": "ui_gauge",
        "z": "68bf945a96e9124c",
        "name": "",
        "group": "f9702690b47b1a73",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.3",
        "seg2": "0.6",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "f28b2f2cd4f98339",
        "type": "ui_gauge",
        "z": "68bf945a96e9124c",
        "name": "",
        "group": "a071e340d998070f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c110c9c11b7ce47",
        "type": "ui_chart",
        "z": "68bf945a96e9124c",
        "name": "",
        "group": "a071e340d998070f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "79d696c6e8711fee",
        "type": "mqtt out",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-SERVO_CONTROLLING_FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3c0d3cd1fb5b5c",
        "x": 950,
        "y": 900,
        "wires": []
    },
    {
        "id": "3035b40b83745fd7",
        "type": "ui_slider",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "Angle Offset",
        "tooltip": "",
        "group": "c219f2e6a2fa6cd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": "1",
        "className": "",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "f096b1f78d9f368e"
            ]
        ]
    },
    {
        "id": "9c900ba7a7c1764b",
        "type": "ui_slider",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "c219f2e6a2fa6cd7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "79d696c6e8711fee"
            ]
        ]
    },
    {
        "id": "9f5cdc9fc106385a",
        "type": "ui_dropdown",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "3da9ded6817f4a05",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "LABLE A",
                "value": "1",
                "type": "str"
            },
            {
                "label": "LABLE B",
                "value": "2",
                "type": "str"
            },
            {
                "label": "LABLE C",
                "value": "3",
                "type": "str"
            },
            {
                "label": "CUSTOM",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "5da648f39a05fae5"
            ]
        ]
    },
    {
        "id": "a02bad806c71663a",
        "type": "mqtt out",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-DROP-DOWN",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cca5adb0c8f6569",
        "x": 680,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f096b1f78d9f368e",
        "type": "mqtt out",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-SERVO_MIN_ANGLE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3c0d3cd1fb5b5c",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "5da648f39a05fae5",
        "type": "function",
        "z": "68bf945a96e9124c",
        "name": "function 19",
        "func": "\nflow.set(\"medicineType\",msg.payload);\nlet defMedData = flow.get(\"defMedConfig\");\nlet minAngle;\nlet controlFactor;\n\nif (msg.payload ===2){\n    minAngle = defMedData[\"A\"][\"minAngle\"];\n    controlFactor =  defMedData[\"A\"][\"controlFactor\"];\n}\nelse if (msg.payload ===3){\n    minAngle =  defMedData[\"B\"][\"minAngle\"];\n    controlFactor = defMedData[\"B\"][\"controlFactor\"];\n}\nelse{\n    minAngle = defMedData[\"C\"][\"minAngle\"];\n    controlFactor = defMedData[\"C\"][\"controlFactor\"];\n}\nreturn {payload:{\"minAngle\": minAngle, \"controlFactor\": controlFactor}};\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1040,
        "wires": [
            [
                "a02bad806c71663a",
                "9c900ba7a7c1764b",
                "3035b40b83745fd7"
            ]
        ]
    },
    {
        "id": "57b13ca8c6f697be",
        "type": "mqtt in",
        "z": "68bf945a96e9124c",
        "name": "",
        "topic": "TRICAL-LIGHT_INTENSITY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cca5adb0c8f6569",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "f28b2f2cd4f98339",
                "7c110c9c11b7ce47"
            ]
        ]
    },
    {
        "id": "9fce8bd1bbb04037",
        "type": "ui_switch",
        "z": "68bf945a96e9124c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d56e420f997416f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "49d85874d0208a02"
            ]
        ]
    },
    {
        "id": "3cca5adb0c8f6569",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9702690b47b1a73",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "398cf71c5635b078",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5a49eebdd4edf1b",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "398cf71c5635b078",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a071e340d998070f",
        "type": "ui_group",
        "name": "LIGHT_INTENSITY",
        "tab": "398cf71c5635b078",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d3c0d3cd1fb5b5c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c219f2e6a2fa6cd7",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "398cf71c5635b078",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3da9ded6817f4a05",
        "type": "ui_group",
        "name": "Drop Down",
        "tab": "398cf71c5635b078",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d56e420f997416f8",
        "type": "ui_group",
        "name": "MAIN-SWITCH",
        "tab": "398cf71c5635b078",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "398cf71c5635b078",
        "type": "ui_tab",
        "name": "MEDI BOX",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]